<div class="container mt-lg-5">
  <a routerLink="/testcases" >Go back</a>
  <div *ngIf="status"><h5 style="color: forestgreen">Updated Successfully</h5></div>
  <div class="row">
    <div class="col-lg-12">
      <form *ngIf="testCase">
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input (keypress)="changeStatus()" type="text" name="title" class="form-control" [(ngModel)] ="testCase.title" id="title" placeholder="Title">
          </div>
        </div>
        <div class="form-group row">
          <label for="script" class="col-sm-2 col-form-label">Script</label>
          <div class="col-sm-10">
            <textarea (keypress)="changeStatus()" name="script" class="form-control" [(ngModel)] ="testCase.script" id="script" placeholder="Script"></textarea>
          </div>
        </div>
        <div class="form-group row" style="text-align: center">
          <div class="col-sm-10">
            <button type="submit" (click)="saveTestCase(testCase._id, testCase)" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
